#Steuerung von PHP Values wie dem Speicher oder Maximaler Anzahl an Zeichen
php_value memory_limit 256M
php_value max_input_vars 10000

#Die WP-Config File von sämtlichen Zugriffen ausschließen.
<Files wp-config.php>
order allow,deny
deny from all
</Files>

#Rewrite ermöglichen und alle Links auf HTTPS umleiten.
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#die folgende Zeile leitet alte URLS nach dem Schema Jahr, Monat und Tag um, damit nur noch der Artikelname als Link steht
RedirectMatch 301 /([0-9]+)/([0-9]+)/([0-9]+)/(.*)$ https://www.example.com/$4

#Beispiel für eine 301-Weiterleitung
Redirect 301 /seite1/ https://www.example.com/seite2/
