#Steuerung von PHP Values wie dem Speicher oder Maximaler Anzahl an Zeichen
php_value memory_limit 256M
php_value max_input_vars 10000

#Die WP-Config File von sämtlichen Zugriffen ausschließen.
<Files wp-config.php>
order allow,deny
deny from all
</Files>

#Rewrite ermöglichen und alle Links auf HTTPS umleiten.
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#die folgende Zeile leitet alte URLS nach dem Schema Jahr, Monat und Tag um, damit nur noch der Artikelname als Link steht
RedirectMatch 301 /([0-9]+)/([0-9]+)/([0-9]+)/(.*)$ https://www.example.com/$4

#Beispiel für eine 301-Weiterleitung
Redirect 301 /seite1/ https://www.example.com/seite2/

# Nach Deaktivierung von AMP zu Canonical URLs weiterleiten
RewriteEngine On
RewriteCond %{REQUEST_URI} (.+)/amp(.*)$
RewriteCond %{REQUEST_URI} !^/wp-content/(.*)$ 
RewriteRule ^ %1/ [R=301,L]

#Ausschluss von schädlichen Bots oder Programmen zum Spiegeln der Seite
BrowserMatchNoCase "HTTrack" bots
BrowserMatchNoCase "SEOkicks-Robot" bots
BrowserMatchNoCase "AhrefsBot" bots
BrowserMatchNoCase "Uptimebot" bots
BrowserMatchNoCase "Cliqzbot" bots
BrowserMatchNoCase "ssearch_bot" bots
BrowserMatchNoCase "Sogou" bots

Order Allow,Deny
Allow from ALL
Deny from env=bots
